emails.xlsx
Web Scraping/emailGetter.py
~$final_emails.xlsx
Outreach.txt
Outreach Emails.docx
final_emails.xlsx
emails_csv.csv
Web Scraping/tips.py
cleaned_output.csv
charlotte_chamber_scrape.csv
Rapid Fire Questions.pdf
CIS Controls v8.pdf
CyberSafe Presentation for Small Businesses.pptx
spider/
